@import "mixins";

body,
span,
p,
a {
  color: var(--text-primary-light);

  @include p-16-regular;
}

h1 {
  font-family: var(--app-font-family-secondary);
  font-size: toRem(56);
  font-weight: 400;
  line-height: toRem(72);
  letter-spacing: 0;
}

h2 {
  font-family: var(--app-font-family-secondary);
  font-size: toRem(40);
  font-weight: 400;
  line-height: toRem(48);
  letter-spacing: 0;

  @include respond-to(medium) {
    font-size: toRem(26);
    line-height: toRem(32);
  }
}

h3 {
  font-family: var(--app-font-family-secondary);
  font-size: toRem(24);
  font-weight: 400;
  line-height: toRem(32);
  letter-spacing: 0;

  @include respond-to(medium) {
    font-size: toRem(20);
    line-height: toRem(28);
  }
}
